div {
			border: 10px solid #bf8040;
			border-top-right-radius: 50px;
			background-color:rgba(255,255,255,0.5);
			
			border-bottom-left-radius: 50px;
			border-radius: 20px;
			width: 250px;
			height: 175px;
			padding: 5px 5px 5px 5px;
			text-align: center;
			position: 200px 200px;
			margin-left: 200px;
			margin-top: 200px;
		}

body {
    background-image: url("doryhome.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}