img{
			height: 40px;
			width: 40px;
		}
		
		table, td {
		    margin: 0;
		    padding: 0;
		    border: 0;
		    font-size: 100%;
		    font: inherit;
		    vertical-align: baseline;
		    line-height: 0px;
		    float: left;
		}
		
		#peca1{
			display: inline-block;
			background-color: #3bb300;
			height: 40px;
			width: 40px;
			border-radius: 5px;
		}
		#peca2{
			display: inline-block;
			height: 40px;
			width: 40px;
			border-radius: 5px;
		}

		#divP1{
			border: 1px solid;
			border-radius: 10px;
			width: 120px;
			float: left;
			text-align: center;
			background-color: #f2f2f2;
		}
		table {
		    border-collapse: collapse;
		    border-spacing: 0;
		}
		#tabuleiro{
			display: inline-block;
		}